@import url(https://fonts.googleapis.com/css?family=Lobster);
* {
  padding: 0;
  margin: 0; }

body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1));
  background-size: 2px 100%, 100%;
  margin: 0 1.66em; }

h1 a {
  font-family: Lobster, Georgia, serif;
  font-weight: 400;
  font-size: 2.6em;
  color: #3650ac;
  text-shadow: 0px -1px 0 black;
  text-decoration: none; }

.ribbon {
  margin: 0 auto;
  width: 6em;
  text-align: center;
  padding: 3em 0 0 0;
  vertical-align: bottom;
  background: linear-gradient(to right, #4e68c7 8%, transparent 8%, transparent 12%, #4e68c7 12%, #4e68c7 88%, transparent 88%, transparent 92%, #4e68c7 92%);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 80px 100%; }

.ribbon img {
  width: 1.2em;
  margin: 2em 1em .66em 1em; }

.search {
  width: 33%;
  padding: 0 1em;
  margin-top: .66em;
  margin-bottom: 1.66em;
  height: 2rem;
  background: #9baae0;
  border-radius: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  color: black;
  z-index: 1; }

.sort {
  display: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}

li {
  display: inline; }

li a {
  color: #eee;
  text-decoration: none;
  padding: .9em 1.6em;
  display: inline-block; }

.button {
  margin: .66em;
  display: inline-block;
  outline: 0;
  background: #4e68c7;
  color: white;
  white-space: nowrap;
  line-height: 1.4;
  text-decoration: none;
  text-shadow: 0 -1px #000;
  font-family: Helvetica;
  font-weight: normal;
  box-shadow: 0 3.8em 0 -2.2em rgba(255, 255, 255, 0.2) inset, 1px 1px 0px #3852b1, 2px 2px 0px #3852b1, 3px 3px 0px #3852b1, 4px 4px 0px #3852b1, 5px 5px 0px #3852b1, 6px 6px 0px black;
  position: relative;
  top: -5px;
  transition: all .1s ease-in-out;
  border-radius: 0.5em; }

.button:hover {
  background: #3d58b6;
  box-shadow: 0 3.8em 0 -2.2em rgba(255, 255, 255, 0.2) inset, 1px 1px 0px #3852b1, 2px 2px 0px #203891, 3px 3px 0px #3852b1, 4px 4px 0px black;
  position: relative;
  top: -3px;
  left: 2px;
  transition: all .1s ease-in-out; }

.button:active {
  box-shadow: 0 3.8em 0 -2.2em rgba(255, 255, 255, 0.2) inset, 1px 1px 0px #3852b1, 2px 2px 0px black;
  position: relative;
  top: -1px;
  left: 4px;
  transition: all .1s ease-in-out; }

.button:visited {
  background: red;
  box-shadow: 0 3.8em 0 -2.2em rgba(255, 255, 255, 0.2) inset, 1px 1px 0px red, 2px 2px 0px #203891, 3px 3px 0px #3852b1, 4px 4px 0px black;
  position: relative;
  top: -3px;
  left: 2px;
  transition: all .1s ease-in-out; }

.button:visited:hover {
  background: #3d58b6;
  box-shadow: 0 3.8em 0 -2.2em rgba(255, 255, 255, 0.2) inset, 1px 1px 0px #3852b1, 2px 2px 0px #203891, 3px 3px 0px #3852b1, 4px 4px 0px black;
  position: relative;
  top: -3px;
  left: 2px;
  transition: all .1s ease-in-out; }

footer {
  text-align: center;
  padding: 6em 0;
  font-size: 0.8em; }

footer p {
  font-weight: bold;
  text-transform: uppercase;
  font-family: helvetica, san-serif; }

footer img {
  vertical-align: middle;
  padding: .33em; }

footer a {
  color: #4e68c7;
  text-decoration: none; }

::-webkit-input-placeholder {
  color: #555555; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #555555; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #555555; }

:-ms-input-placeholder {
  color: #555555; }
